*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    min-height: 100%;
    background-image: url(IMG/Bk.jpg);
}
.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0,0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.header{
    grid-area: header;
    background-color: rgba(0, 4, 255, 0.39);
}
.navbar{
    grid-area: navbar;
    background-color: rgb(199, 243, 228);
}
.main{
    grid-area: main;
}
.sidebar{
    grid-area: sidebar;
    background-color: beige;
}
.footer{
    grid-area: footer;
    background-color: rgba(0, 4, 255, 0.39);;
}
.grid-container{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header" 200px
    "main" auto
    "footer" 140px / 100%;
}
@media(min-width: 600px){
    .grid-container{
    /*grid-template-columns: 200px auto;
    grid-template-rows: 100px 50px auto 100px;
    grid-template-areas: 
    "header header"
    "navbar navbar"
    "sidebar main"
    "footer footer";*/
    grid-template: 
    "header header"200px
    "main main" auto
    "footer footer" 150px /
    200px auto;
    }
}
@media(min-width: 900px){
    .grid-container{
    grid-template: 
    "header header header"200px
    "main main main"auto
    "footer footer footer" 150px /
    200px auto 200px;
    }
}
/*header*/

.logo{
    float: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 90px;
   /* animation: rotation 2s infinite linear;*/
   border-radius: 50%;
   width: 190px;
   height: 190px;
   background-color: #fff;

}
.logo:hover{
    transform: scale(1.08);
    transition: all 0.7s;
}
.logo span{
    color:#fff;
}
.nav-bar{
    list-style: none;
    padding: 0;
    
    width: 50%;
    max-width: 1000px;
    margin: auto;

}
.nav-bar li a{
    font-family: monospace;
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
.nav-bar li{
    display: inline-block;
    text-align: center;
}
.nav-bar li:hover{
    background-color: black;
}
/*footer*/


.piedepagina grupo-1{
 width: 100%;
 max-width: 1200px;
 margin: auto;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-gap: 50px;
 padding: 45px 0px;
}
.piedepagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.piedepagina .grupo-2{
    justify-content: center;
    align-items: center;
     display: flex;
     margin-bottom: 10px;
     color: #fff;
}
.box{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;

}
.box i{
    width: 50px;
    height: 50px;
    
}
.redsocial:hover{
transform: scale(1.08);
    transition: all 0.7s;
}
/*Texto main*/ 
.call{
    float:unset;
    width: 100%;
    background-color: rgba(5, 72, 255, 0.486);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 20px;
  
}
.call h1{
    color: rgb(249, 249, 255);
    margin-bottom: 20px;
    text-align: center;
}
.call p{
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}
button{
    background-color: aquamarine;
    box-shadow: #fff 4px 4px 0px;
    border-radius: 8px;
    transition: transform 20ms, box-shadow 200ms;
}
button.active{
    transform: translateY(4px) translateX(4px);
    box-shadow: #094c66 0px 0px 0px;
}

/*Galeria*/
h1{
    text-align: center;
    color: #fff;
}
h4{
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(0,0,0,1));
    width: 100%;
    margin: 0;
}
.galery--item:hover{
     transform: scale(1.08);
    transition: all 0.7s;
}
.galery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    padding: 20px;
    grid-gap: 10px;
}
.galery--item{
    position: relative;
}
.galery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galery--item:nth-child(1){
    grid-column: span 2;
}
.galery--item:nth-child(6){
    grid-column: span 2;
}
.galery--item:nth-child(5){
    grid-row: span 2;
}
@media only screen and (min-width:668px){
    .galery-container{
    grid-template-columns: repeat(2, 1fr);
    }
    
}
@media only screen and (min-width: 780px) {
    .galery-container{
    grid-template-columns: repeat(3, 1fr);
    }
   
}
/*Acerca de*/
.acercade{
    width: 60%;
    background-color: rgba(5, 72, 255, 0.486);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20%;
    margin-bottom: 60px;
    text-align: center;
    justify-content: space-evenly;
    color: #fff;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 80px;
}
.acercade:hover{  
    transform: scale(1.08);
    transition: all 0.7s;
}

@media only screen and (min-width:900px){
    .header{
        width: 100%;
        height: 200px;
    }
}
@media only screen and (min-width:800px){
    .header{
        width: 100%;
        height: 200px;
    }
}
/*Productos*/
.grid-productos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 600px;
    padding: 10px;
    grid-gap: 10px;
}
.grid-productos{
    position: relative;
}
.productos--img{
     width: 100%;
    height: 100%;
}
.galery--item--productos{
    position: relative;
}
.galery--item--productos:hover{
     transform: scale(1.08);
    transition: all 0.7s;
}

/*Contacto*/
.contacto{
    margin-bottom: 20%;
}
form{
	width:600px;
    height: 400px;
	padding:24px;
	border-radius:10px;
	margin: auto;
	background-color:#ccc;
    margin-top: 5%;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}

.mensaje{
    width: 400px;
    height: 400px;
    
}
/*ubicacion*/
.ubicacion{
    
    width: 60%;
    background-color: rgba(144, 145, 146, 0.384);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 280px;
    margin-bottom: 60px;
    text-align: center;
    justify-content: space-evenly;
    color: #fff;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.ubicacion img{
    width: 50%;
    height: 70%;
}
.ubicacion:hover{
    transform: scale(1.08);
    transition: all 0.7s;
}
.ubicacion img:hover{
    transform: scale(1.08);
    transition: all 0.7s;
}